
<h1>
    LogIn
</h1>
<form action="/Home/LogIn" method="Post"  type="submit">
<input type="text" name="userName" />
<input type="text" name="password" />
<button type="submit">Log in</button>

</form>