

<h1>
    Register
</h1>
<form action="/Home/Register" method="Post" type="submit">
<input type="text" name="userName" />
<input type="text" name="password" />
<button type="submit">register</button>

</form>